* {
    margin: 0;
    padding: 0;
}

html {
    font-size: .9px;
}

body {
    background-color: #8dc63f;
    font-family: "Arial";
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

aside {
    width: 100%;
}

.field {
    height: 200rem;
    width: 100%;
    object-fit: cover;
    object-position: 75%;
    vertical-align: bottom;
}

.wrapper {
    max-width: 961rem;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 15rem;
}

.logo a img {
    width: 100rem;
    height: 100rem;
}

.logo {
    column-gap: 33rem;
}

.logo b {
    display: block;
    font-size: 44rem;
}

.logo p,
.contacts a,
.main-text h1 {
    font-size: 22rem;
    color: #39930d;
}

.logo i,
.contacts i {
    color: #5a5a5a;
    font-size: 14rem;
}

.flex-between {
    display: flex;
    row-gap: 20rem;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    text-align: center;
    padding: 25rem 0rem;
    column-gap: 33rem;
}

.contacts {
    text-align: center;
}

.contacts a {
    position: relative;
}

.main {
    padding: 25rem 0 25rem;
    flex-wrap: wrap-reverse;
}

.main-text h1,
.main-text p {
    margin-bottom: 17rem;
}

.main-text h1 {
    font-size: 24rem;
}

.main-text p {
    max-width: 599rem;
    font-size: 14rem;
    line-height: 1.5em;
    color: #343434;
}

.navigation {
    min-width: 300rem;
}

.navigation p {
    padding: 12rem 20rem 12rem;
    font-size: 18rem;
    color: #fff;
    background-color: #39930d;
}

.navigation ul {
    padding: 20rem;
}

.navigation a {
    position: relative;
    display: inline-block;
    font-size: 14rem;
    line-height: 2.1em;
    text-transform: uppercase;
    color: #39930d;
}

.navigation a::before,
.contacts a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 0%;
    height: 2px;
    background-color: #39930d;
    transition: all .5s ease;
}

.contacts a::before {
    bottom: 0;
}

.navigation li:hover > a::before,
.contacts p:hover > a::before {
    width: 100%;    
}

.footer {
    margin: 0 -15rem;
    padding: 17rem 16rem 14rem;
    font-size: 14rem;
    color: #fff;
    background-color: #39930d;
}

@media screen and (min-width: 768px) {
    .flex-between {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .contacts {
        text-align: right;
    }
    aside {
        max-width: 300rem;
    }
}

@media screen and (min-width: 390px) {
    .header {
        text-align: left;
    }
}

@media screen and (min-width: 623px) {
    .contacts {
        text-align: right;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 1.2px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 2px;
    }
}